@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-background: #edf7ff;
  --color-primary: #0671ff;
  --color-secondary: #48b0ff;
  --color-text: #F4FAFC;
}
